<div class="inverse">
  <span>PARTHA CHAKRABORTY</span>
</div>
<br>
<br>
<span class="info">JAIT678</span>
<br>
<br>
<span class="alert">465759585</span>
<br>
<br>
<span class="success">465759585</span>
<br>
<br>
<span class="message">465759585</span>
<br>
<br>
<div  class="bxSizn" id="bxSizn">
  
</div>
<br>
<br>
<div class='examples'>
  <div (click)="MergeMap()">mergeMap </div>
  <div>flatMap</div>
  <div (click)="ConcathMap()">concatMap</div>
  <div (click)="SwitchMap()">switchMap</div>
  <div (click)="exhaustMap()">exhaustMap</div>
  <div (click)="subjectcall()">Subject</div>
  <div (click)="behavioursubjectcall()">BehaviorSubject</div>
  <!-- <div (click)="behavioursubjectcall()">Multi-casting</div> -->
</div>
<br>
<br>
<div class='examples1' #alertContainer>
  <div>
    <button type="button" (click)="createComponent('Success')">Create success alert</button>
  </div>
  <div>
    <button type="button" (click)="createComponent('danger')">Create danger alert</button>
  </div>
</div>
<br>
<br>
<!-- Without Async pipe implementation -->
<!-- <div class='examples1'>
  <div *ngFor="let imageof of productStor">
    <img src="{{imageof.image}}" width="75" height="75">
    <div style="color: black; width: 75px; height: auto;">
      {{imageof.name}}
    </div>
  </div>
</div> -->
<!-- With Async pipe implementation -->
<div class='examples1'>
  <div *ngFor="let imageof of productstorAsync$ | async">
    <img src="{{imageof.image}}" width="75" height="75">
    <div style="color: black; width: 75px; height: auto;">
      {{imageof.name}}
    </div>
  </div>
</div>
