.examples > div {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 7px 16px;
  display: inline-block;
  margin-right:2px;
}

.examples1 > div {
  cursor: pointer;
  color: white;
  padding: 7px 16px;
  display: inline-block;
  margin-right:2px;
}